<md-content>
    <md-toolbar style="height: 300px">
        <div class="md-toolbar-tools" layout="column" layout-padding>
            <span flex></span>
            <span class="md-display-3">WebCont</span>
            <span class="md-title">descrição curta e grossa deve ser colocada aqui</span>
            <span></span>
            <span></span>
            <span></span>
            <span><md-button class="md-raised" ui-sref="releasing">Iniciar</md-button></span>

        </div>
    </md-toolbar>

    <div layout="column"layout-align="center center">

    </div>

</md-content>

